<h1> send in your user info here</h1>
<form method="POST" action="/">
 First Name:<input name="fname"><br>
 Last Name:<input name="lname"><br>
 Email:<input name="email"><br> 
 Birthday:<input name="bday"><br>
  <input type="sumbit">
</form>