<style>
  body{
    color: white;
  }
</style>


<h1> send in your user info here</h1>
<form method="POST" action="/">
 First Name:<input name="fname"><br>
 Last Name:<input name="lname"><br>
 Email:<input name="email"><br> 
 Birthday:<input name="bday"><br>
 Age:<input name="age"><br>
 Favorite Color:<input name="favcolor"><br>
 Status:<input name="status"><br>
 Profile Picture: <input name="propic"><br>
 <input type="submit">
</form>